<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%=htmlWebpackPlugin.options.appName %></title>
    <% if (htmlWebpackPlugin.options.appType === 'mobile') { %>
      <meta content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,shrink-to-fit=no,user-scalable=no,minimal-ui"
            name="viewport"/>
      <meta name="apple-mobile-web-app-capable" content="yes"/>
      <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
      <meta content="telephone=no" name="format-detection"/>
      <!-- UC默认竖屏` UC强制全屏 -->
      <meta name="full-screen" content="yes"/>
      <meta name="browsermode" content="application"/>
      <!-- QQ强制竖屏` QQ强制全屏 -->
      <meta name="x5-orientation" content="portrait"/>
      <meta name="x5-fullscreen" content="true"/>
      <meta name="x5-page-mode" content="app"/>
    <% } %>
  </head>
  <body>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
