.home-wrapper {
  margin: 20px;
  .desc {
    line-height: 1.8;
    font-size: 14px;
    .title {
      border-bottom: 1px solid #ddd;
      line-height: 2;
      font-size: 20px;
    }
    margin-bottom: 10px;
  }
}