/* 字号 for循环 */
@for $size from $fontMin to $fontMax by 2 {
  .jc-font$size {
    font-size: $(size)px
  }
}
/* 颜色 each循环 */
@each $color in $colorList {
  .jc-$color {
    color: $color !important;
  }
}
/* 混入定义 */
@define-mixin mix-test {
  color: red;
}
/* 混入使用 */
.use-mixin {
  @add-mixin mix-test;
}

.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
